---
import { usersTable } from "~/db-schema";

const db = Astro.locals.db;
const users = await db.select().from(usersTable);
---

<html lang="en">
	<head>
		<title>DB view</title>
		<style>
			h1 {
				font-size: 36px;
			}
		</style>
	</head>
	<body>
    {JSON.stringify(users)}
	</body>
</html>
